<a href="https://colab.research.google.com/github/Tienspkt/google-colab/blob/main/B%C3%A0i%20t%E1%BA%ADp%20AI%20tu%E1%BA%A7n%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Value1 = input('nhập vào số đầu tiên')

nhập vào số đầu tiên7

In [ ]:
Value2 = input(' nhập vào số thứ 2 ')

 nhập vào số thứ 2 3

In [ ]:
Value1+Value2

'73'

In [ ]:
with open ('text1.txt',mode = 'r') as accounts:
  print(f'{"Mssv"  :<10}{"Name" : <20}{"Score" :> 4}')
  for record in accounts:
    mssv,name,score = record.split()
    print(f'{"mssv"  :<10}{"name" : <20}{"score" :> 4}')

ValueError: ignored

In [ ]:
with open('text.txt',mode ='w') as accounts:
        accounts.write('20146196 Lê Minh Tiên 8.0\n')
        accounts.write('20146536 Võ Tấn Thinh 8.5\n')
        accounts.write('20146178 Võ Văn Thuận 8.0\n')
        accounts.write('20146896 Lê Tấn Lộc 8.0\n')
        accounts.write('20146834 Nguyễn Văn A 8.0\n')
        accounts.write('20146894 Nguyễn Văn E 8.2\n')
        accounts.write('20146844 Nguyễn Văn B 8.0\n')
        accounts.write('20146855 Nguyễn Văn V 8.1\n')
        accounts.write('20146934 Nguyễn Văn K 8.0\n')
        accounts.write('20146834 Nguyễn Văn H 8.0\n')

In [ ]:
with open('text1.txt', mode = 'w') as accounts:
    print('20146196 Lê Minh tiên 8.1', file = accounts)

In [ ]:
from pandas.io.formats.style_render import DataFrame
import pandas as pd
url = 'bt022.csv'
dataframe = pd.read_csv(url)
dataframe.head(20)

        MSSV;Họ Và Tên;Khóa;Khoa;Điểm
0       20146196;Lê Minh Tiên;20;CKM;9
1      21116256;Nguyễn Văn A;21;CKM;10
2        19156263;Lê Minh Tèo;19;CKM;8
3          19185642;Võ Văn C;19;DDT;10
4           22001568;Võ Văn M;22;DĐT;8
5      20146536;Võ Tấn Thịnh;20;CKM;10
6      20146135;Nguyễn Xuân X;20;DDT;9
7          19456525;Võ Xuân T;19;CKM;8
8      18552525;Nguyễn Phúc T;18;CKM;7
9          21036561;Lê Xuân T;21;DDT;8
10      22012512;Nguyễn Anh T;22;CKM;8
11         17522552;Võ Tú Tài;17;DDT;9
12     22554225;Nguyễn Anh A;22;CKM;10
13  17558646;Nguyễn anh quốc;17;DDT;10

In [ ]:
dataframe.iloc[10]

MSSV;Họ Và Tên ;Khóa;Khoa;Điểm     22012512;Nguyễn Anh T;22;CKM;8
Name: 10, dtype: object

In [ ]:
import pandas as pd
import numpy as np
ulr='bt1.csv'
dataframe = pd.read_csv(ulr)
dataframe.head(20)
#dataframe.iloc[:4]
#datafarmw.iloc[0]
#datafarmw.iloc[0:4]
#frame = dataframe.set_index(dataframe['Họ và Tên'])
#frame.loc['Võ Tấn Thinh']
#dataframe[dataframe['khoa']=='CKM'].head(10)
#dataframe[(dataframe['khoa']=='CKM') & (dataframe['Khóa']==2020)]
#dataframe['Khóa'].min()
#dataframe['Khóa'].max()
#dataframe['Điểm'].min()
#dataframe['Điểm'].max()
#dataframe['Điểm'].sum()
#dataframe['Điểm'].count()
#dataframe['khoa'].unique()#lấy số đơn vị trong cột khoa
#dataframe['khoa'].value_counts()
#dataframe.drop('khoa',axis=1).head(20) #xóa cột khoa
#dataframe.drop(['khoa','Khóa'],axis=1).head(20) #xóa 2 cột khoa và khóa
#dataframe[dataframe['Khóa']!=2019].head(20) # xóa từ khoa 2019
#dataframe.groupby('khoa').head(20)# đêm số lương 
#dataframe.groupby('Khóa').count() # đém số lượng
#dataframe.groupby(['Khóa','khoa']).head(20)
#dataframe.groupby(['Khóa','khoa']).count()

# code lấy dữ liệu 
#time = pd.date_range ('16/02/2022',periods = 100000 , freq = '30s')
#dataframe = pd.DataFrame (index = time)
#dataframe['Acess_Amount']=np.random.randint(1,10,100000)
#dataframe.resample('w').sum()  # w là tuần , D là này , M là tháng

            Acess_Amount
2024-02-18         43608
2024-02-25        101619
2024-03-03        101010
2024-03-10        100844
2024-03-17        101037
2024-03-24         53592

In [ ]:
import pandas as pd
url = 'http://Winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)